{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "targets": {
                    "node": "4.2"
                }
            }
        ]
    ],
    "plugins": [
        "babel-plugin-syntax-jsx",
        "babel-plugin-transform-es2015-destructuring",
        "transform-es2015-parameters",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        [
            "babel-plugin-inferno",
            {
                "imports": true
            }
        ]    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul",
                [
                    "babel-plugin-inferno",
                    {
                        "imports": true
                    }
                ]
            ]
        }
    }
}